body{
    /* margin: 0px;
    padding: 0px; */
}
.navbar{
    width: 97%;
    height: 11px;
    margin: 15px 10px 0px 10px;
    padding: 30px 0;
    background-color: rgb(65, 133, 174);
    border-radius: 70px;
    border: 2px solid red;
}
.logo {
    width: 70px;
    cursor: pointer;
    border-radius: 41px;
    margin-top: -29px;
}
.navbar ul {
    font-size: 20px;
    margin-top: -53px;
    margin-bottom: 0px;
    margin-left: 625px;
    display: flex;
    text-decoration: none;
}
.navbar ul a{
    color: antiquewhite;
    text-decoration: none;
    margin-top: -72px;
    margin-bottom: 0px;
    margin-left: 63px;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e2107d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

/* .navbar ul li:hover::after {
    width: 100%;
} */


/* .navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #e2107d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
} */
